<!-- matbutton 
<button mat-raised-button>Hello</button> -->

<!-- stepper
<mat-horizontal-stepper linear>
  <mat-step label="Shipping" completed=true>
    <p>Shipping address</p>
  </mat-step>
  <mat-step label="Billing" completed=false>
    <p>Billing Addrres</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Place Order" completed=false>
    <p>Order details</p>
  </mat-step>
</mat-horizontal-stepper> -->

<!-- Input filed
<mat-form-field floatLabel="auto" hideRequiredMarker 
appearance="fill" color="accent">
  <mat-label>Name</mat-label>
  <input matInput placeholder="label">
  <mat-hint align="end">Min 5 characters</mat-hint>
</mat-form-field>
<mat-form-field floatLabel="auto" hideRequiredMarker
appearance="outline" color="warn">
    <mat-label>Name</mat-label>
    <input matInput placeholder="label">
    <mat-hint align="end">Min 5 characters</mat-hint>
  </mat-form-field> -->

<!-- select option
<mat-form-field>
  <mat-select placeholder="Placeholder" appearance="outline">
    <mat-option>C#</mat-option>
    <mat-option>MVC</mat-option>
    <mat-option>NODE</mat-option>
    <mat-option>Angular</mat-option>
  </mat-select>
</mat-form-field> -->

<!-- mat-autocomplete
<form>
  <mat-form-field>
    <input type="text" matInput [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let item of options" [value]="item">
        {{item}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form> -->

<!-- mat-datepicker
<mat-form-field>
  <input
    matInput
    [matDatepicker]="picker"
    placeholder="Choose a date"
    [matDatepickerFilter]="dateFilter"
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->


<mat-form-field>
  <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort >
        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Weight</th>
          <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Symbol</th>
          <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator 
        [pageSizeOptions]="[2,10,20]"        
        showFirstLastButtons
        >
      </mat-paginator>
      
</div>